.navbar-inverse {
    background-color: #104a56;
    border-color: #080808;
}

@media (min-width: 800px)
navbar.less:661
.navbar {
    border-radius: 4px;
}


.navbar {
    position: relative;
    min-height: 61px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
#search{
	background-color: #104a56;
}

}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}
#banner{

    text-shadow: 4px 3px #777;
    font-weight: bolder;
    text-size-adjust: auto;
    text-decoration-style: solid;
    margin-top: -37px;
    font-family: MONOSPACE;
    ;

}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 2px;
    color: inherit;
    background-color: #ccc;
    margin-bottom: 4px;
    height:221px;
    }

  
body{

  background-color: #f4511e;
}



#banner1{

	text-shadow: #b71414;
}